# # Flask
# # numpy
# # pandas
# # gunicorn
# # torch
# # torchvision
# # facenet-pytorch
# # pillow
# Flask
# numpy==1.26.4
# pandas
# gunicorn
# torch
# torchvision
# facenet-pytorch
# pillow
Flask
gunicorn
numpy
pandas
pillow
opencv-python-headless
onnxruntime